<%= link_to "restart", root_path %>
<%= @game.board.cells.inspect %>
<% @game.board.rows.each_with_index do |row, row_index| %>
	<div>
		<% row.each_with_index do |cell, cell_index| %>
			<span style="background-color: red">
				<% if cell.blank? %>
					<%= link_to "GO", make_move_path(:row_number => row_index, :column_number => cell_index, :game => @game, :current_cells => @game.board.cells) %>
				<% else %>
					<%= cell %>
				<% end %>
			</span>
		<% end %>
	</div>
<% end %>