<div id="layout">
	<div id="title_screen">
		<div id="one_player">
			<%= link_to image_tag("select_players.png"), select_1p_path %><br/>		
		</div>
		<div id="two_players">
			<%= link_to image_tag("select_players.png"), select_2p_path %><br/>				
		</div>
	</div>
</div>