<div id="character_select" >
	<%= link_to "orange", human_vs_computer_path(:player_one_color => "orange"), :class => "orange_player" %>
	<%= link_to "cyan", human_vs_computer_path(:player_one_color => "cyan"), :class => "cyan_player" %>
</div>