<div id="character_select" >
	<%= link_to "", human_vs_human_path(:player_one_color => "orange", :player_two_color => "cyan"), :class => "orange_player" %>
	<%= link_to "", human_vs_human_path(:player_one_color => "cyan", :player_two_color => "orange"), :class => "cyan_player" %>	
</div>

<div id="loading_screen">
</div>